/* ============= */
/* = Site Wide = */
/* ============= */

html, body{
  font-family: "Helvetica neue", "Helvetica", "Verdana", sans-serif;
}

a, a:hover, a:active, a:visited{
  text-decoration: none;
  color: #58E;
}

.clearfix{
  clear:both;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  font-weight: bold;
  position: relative;
}

.site .title a {
  color: #333333;
  text-decoration: none;
}

.site .title a:hover {
  color: black;
}

.site_header{
}

.site_header h1{
  margin: 0 0 0.5em;
}

.site_nav{
  width: 20em;
  text-align: right;
  font-size: 1em;
  line-height: 1em;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;  
}
.site .site_nav a {
  font-weight: 200;
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
  font-size: 1em;
  line-height: 1em;

}

.tagline{
  font-size: 0.5em;
  margin: 0;
  padding: 0;
  color: #AAAAAA;
  font-weight: 200;
}

.site .title a.extra:hover {
  color: black;
}

.site .meta {
  color: #aaa;
  margin: 0;
  font-size: 0.8em;
}

.site .footer {
  font-size: 80%;
  color: #666;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  border-bottom: 4px solid #EEEEEE;
  margin: 0 0 2em;
}

/* standard */
article#post h1{
  font-size: 1.4em;
  margin: 0 0 0;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */

#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

#post pre.terminal code {
  background-color: #333;
}

#related {
  margin-top: 2em;
}

#related h2 {
  margin-bottom: 1em;
}

#contact{
  width: 30em;
  float: left;
}
#rss_link{
  width: 5em;
  display: inline-block;
  float: right;
  text-align: right;
}
#rss_image{
  width: 1em;
  height: 1em;
}